@12313021:registry=https://gitlab.sorbonne-paris-nord.fr/api/v4/projects/2498/packages/npm/
//gitlab.sorbonne-paris-nord.fr/api/v4/projects/2498/packages/npm/:_authToken=${REGISTRY_CONSUMER_NPM_TOKEN}
//gitlab.sorbonne-paris-nord.fr/api/v4/projects/2498/packages/npm/:username=gitlab+deploy-token-109
